<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455000053940-grtmenh14rsot1delu6t9rghf26n6kqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455000053940-grtmenh14rsot1delu6t9rghf26n6kqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBfPdbg8ZDu419OQvPQoAq4UG2mPBk-Hig</string>
	<key>GCM_SENDER_ID</key>
	<string>455000053940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hydrolink</string>
	<key>PROJECT_ID</key>
	<string>project-hydrolink</string>
	<key>STORAGE_BUCKET</key>
	<string>project-hydrolink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455000053940:ios:233b0a0d2ce07eb8d69fe1</string>
</dict>
</plist>